<section *ngIf="fullWeatherData">
  <h1>
    {{ fullWeatherData.cityName }}, {{ fullWeatherData.stateCode }},
    {{ fullWeatherData.countryCode }}
  </h1>
  <p>
    {{ displayTime(currentDate) }}
  </p>
  <p>
    {{ displayDateFormatted(currentDate) }}
  </p>
  <p>{{ displayDayOfWeek(currentDate) }}</p>
  <img
    class="weather-icon"
    alt="weather icon"
    src="{{ getWeatherIcon(fullWeatherData.data[0].weather.icon) }}"
  />
  <p>
    {{ fullWeatherData.data[0].temp }}&deg;{{
      tempScale === "Fahrenheit" ? "F" : "C"
    }}
  </p>
  <div *ngFor="let day of fullWeatherData.data | slice: 1">
    <p>
      {{ displayDayOfWeek(day.validDate) }} {{ day.highTemp }} {{ day.lowTemp }}
    </p>
    <img
      class="weather-icon"
      src="{{ getWeatherIcon(day.weather.icon) }}"
      alt="weather icon"
    />
  </div>
</section>
<p *ngIf="!fullWeatherData">Please search for a city</p>
