<main class="my-sky">
  <cities-overview
    class="my-sky__cities"
    [appName]="appName"
    [fullWeatherData]="fullWeatherData"
    [searchValue]="searchValue"
    [tempScale]="tempScale"
    [error]="error"
    (getFullWeather)="getFullWeather()"
    (updateSearchValue)="updateSearchValue($event)"
    (updateTempScale)="updateTempScale()"
  ></cities-overview>
  <city-details
    class="my-sky__city-details"
    [fullWeatherData]="fullWeatherData"
    [tempScale]="tempScale"
  ></city-details>
  <navbar class="my-sky__navbar"></navbar>
</main>
<router-outlet></router-outlet>
