.my-sky {
  display: grid;
  height: 100%;
  place-content: center;
  grid-template-rows: auto;
  grid-template-columns: 75px 300px 700px;
  grid-template-areas:
    "navbar cities-overview cities-overview"
    "navbar city-details weather-chart";
  background: linear-gradient(90deg, #ffd89b, #19547b);

  .my-sky__cities {
    grid-area: cities-overview;
  }

  .my-sky__city-details {
    grid-area: city-details;
  }

  .my-sky__navbar {
    grid-area: navbar;
  }
  .my-sky__weather-chart {
    grid-area: weather-chart;
  }
}
