<main class="container">
  <section class="cities-container">
    <div class="city-container">
      <div class="city-image-container is-inline-block">
        <img
          class="city-image"
          src="http://www.ntimages.net/Italy/Rome/thumbnails/forum2palatine.jpg"
          alt="dogww"
        />
      </div>
      <div class="city-details is-inline-block">
        <p class="city-name">New York</p>
        <p class="city-weather">Cloudy</p>
        <p class="city-temperature">25 F&deg;</p>
      </div>
    </div>
    <div class="city-container">
      <div class="city-image-container is-inline-block">
        <img
          class="city-image"
          src="http://www.ntimages.net/Italy/Rome/thumbnails/forum2palatine.jpg"
          alt="dogww"
        />
      </div>
      <div class="city-details is-inline-block">
        <p class="city-name">New York</p>
        <p class="city-weather">Cloudy</p>
        <p class="city-temperature">25 F&deg;</p>
      </div>
    </div>
    <div class="city-container">
      <div class="city-image-container is-inline-block">
        <img
          class="city-image"
          src="http://www.ntimages.net/Italy/Rome/thumbnails/forum2palatine.jpg"
          alt="dogww"
        />
      </div>
      <div class="city-details is-inline-block">
        <p class="city-name">New York</p>
        <p class="city-weather">Cloudy</p>
        <p class="city-temperature">25 F&deg;</p>
      </div>
    </div>
    <div class="city-container">
      <div class="city-image-container is-inline-block">
        <img
          class="city-image"
          src="http://www.ntimages.net/Italy/Rome/thumbnails/forum2palatine.jpg"
          alt="dogww"
        />
      </div>
      <div class="city-details is-inline-block">
        <p class="city-name">New York</p>
        <p class="city-weather">Cloudy</p>
        <p class="city-temperature">25 F&deg;</p>
      </div>
    </div>
    <div class="city-container">
      <div class="city-image-container is-inline-block">
        <img
          class="city-image"
          src="http://www.ntimages.net/Italy/Rome/thumbnails/forum2palatine.jpg"
          alt="dogww"
        />
      </div>
      <div class="city-details is-inline-block">
        <p class="city-name">New York</p>
        <p class="city-weather">Cloudy</p>
        <p class="city-temperature">25 F&deg;</p>
      </div>
    </div>
  </section>
  <div class="search-container">
    <input
      type="text"
      class="search-input"
      name="search"
      id=""
      placeholder="Search your favorite city"
    />
  </div>
</main>
