@import url("https://fonts.googleapis.com/css2?family=Cormorant&display=swap");

* {
  box-sizing: border-box;
}

.container {
  background-image: url("https://images.pexels.com/photos/1046532/pexels-photo-1046532.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: 100vw 60vh;
  font-family: "Cormorant", serif;
}
.cities-container {
  align-items: center;
  backdrop-filter: blur(3px);
  display: flex;
  flex-wrap: wrap;
  height: 40vh;
  justify-content: space-evenly;
}
.city-container {
  align-items: center;
  display: flex;
}

.city-image {
  border-radius: 100px;
  height: 150px;
  width: 150px;
}

.city-details {
  color: #fff;
  margin-left: 16px;

  .city-name {
    font-size: 1.4rem;
  }
  .city-temperature-container {
    font-size: 2rem;
    margin-top: 0;
  }
  .city-temperature-scale {
    font-size: 1.5rem;
  }
  .city-temperature-degree {
    font-size: 1.2rem;
  }
}

.search-container {
  align-items: center;
  display: flex;
  height: 20vh;
  justify-content: center;

  .search-input {
    background-color: #90060652;
    border-radius: 5px;
    color: #fff;
    font-family: inherit;
    font-size: 1.5rem;
    height: 50px;
    margin: auto 8px;
    text-align: center;
  }
  .search-input::placeholder {
    color: #fff;
    text-align: center;
  }
  .enter-button {
    background-color: #14ed34a8;
    border-radius: 5px;
    font-size: 1.1rem;
    height: 50px;
    margin: auto 8px;
  }
}

.is-inline-block {
  display: inline-block;
}
