<main class="container">
  <h1 *ngIf="!weatherData" class="welcome-msg">Welcome to {{ appName }}</h1>
  <section *ngIf="weatherData" class="cities-container">
    <div class="city-container">
      <div class="city-image-container is-inline-block">
        <img
          class="city-image"
          src="http://www.ntimages.net/Italy/Rome/thumbnails/forum2palatine.jpg"
          alt="dogww"
        />
      </div>
      <div class="city-details is-inline-block">
        <p class="city-name">
          {{ weatherData.cityName }}, {{ weatherData.stateCode }},
          {{ weatherData.countryCode }}
        </p>
        <p class="city-weather">
          {{ weatherData.weather?.description }}
        </p>
        <p class="city-temperature-container">
          {{ weatherData.temp }}&deg;{{
            tempScale === "Fahrenheit" ? "F" : "C"
          }}
        </p>
      </div>
    </div>
  </section>
  <div class="search-container">
    <p *ngIf="error === 'No city entered'" class="error-message">
      Please enter a city
    </p>
    <input
      #searchInput
      type="text"
      class="search-input"
      name="search"
      id=""
      placeholder="Search your favorite city"
      [value]="searchValue"
      (keyup)="updateTheSearchValue(searchInput.value)"
    />
    <button type="button" class="enter-button" (click)="getTheWeather()">
      Enter
    </button>
    <mat-slide-toggle (click)="updateTheTempScale()"
      >{{ tempScale }}
    </mat-slide-toggle>
  </div>
</main>
