<main class="container">
  <section *ngIf="cityWeatherDetails" class="cities-container">
    <div class="city-container">
      <div class="city-image-container is-inline-block">
        <img
          class="city-image"
          src="http://www.ntimages.net/Italy/Rome/thumbnails/forum2palatine.jpg"
          alt="dogww"
        />
      </div>
      <div class="city-details is-inline-block">
        <p class="city-name">
          {{ cityWeatherDetails.cityName }},
          {{ cityWeatherDetails.countryCode }}
        </p>
        <p class="city-weather">
          {{ cityWeatherDetails?.weather?.description }}
        </p>
        <p class="city-temperature-container">
          <span class="city-temperature"> {{ cityWeatherDetails?.temp }} </span>
          <span class="city-temperature-scale"> </span
          ><span class="city-temperature-degree">&deg;</span>
        </p>
      </div>
    </div>
  </section>
  <div class="search-container">
    <input
      #searchInput
      type="text"
      class="search-input"
      name="search"
      id=""
      placeholder="Search your favorite city"
    />
    <button
      type="button"
      class="enter-button"
      (click)="getWeather(searchInput.value)"
    >
      Enter
    </button>
  </div>
</main>
